<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>STEM Salary Predictor</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008B8B">
            <a class="navbar-brand" href="#">STEM Salary Predictor</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href='/'>Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/graphs">Graphs</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/predictor">Predictor</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <P> <br>
            As part of the predictor model, a region is used based on closeness to major metropolitan areas with a large STEM population. <br>
            Regions are based on a distance of roughly 40 miles from the specified city center and the final region qualifies all other locations. <br>
            <br>
            Region Listing:
            <ul>
                <li>Region 1: San Francisco Metro Area</li>
                <li>Region 2: Los Angeles Metro Area </li>
                <li>Region 3: Seattle Metro Area</li>
                <li>Region 4: Boston Metro Area</li>
                <li>Region 5: Chicago Metro Area</li>
                <li>Region 6: Dallas-Ft. Worth Metro Area</li>
                <li>Region 7: Atlanta Metro Area</li>
                <li>Region 8: Washington DC Metro Area</li>
                <li>Region 9: New York City Metro Area</li>
                <li>Region 10: All Other Locations </li>
            </ul>
        </P>
        <form method="post" enctype="multipart/form-data">
            Years of Experience: <input type="number" name="yearsofexperience" min="0" max="60"><br>
            Years at Company: <input type="number" name="yearsatcompany" min="0" max="60"><br>
            Region: <input type="number" name="region" min="1" max="10"><br>
            <input type="submit" value="Predict!">
        </form>
        {{output}}
    </div>
</body>
</html>